// tabs content
.js-tabs
  ul.dash__nav.js-tabs-nav(data-aos="fade")
    i.dash__nav-highlighter.js-nav-highlighter
    li.is-active
      a(href="#tab-1") Tab 1
    li
      a(href="#tab-2") Tab 2


  // NEXT TAB (TRACKING)
  .js-tab(data-tab="tab-1" style="display: block")

  // NEXT TAB (TRACKING)
  .js-tab(data-tab="tab-2")

